{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
		<main>
			<div class="container-fluid">
				<div class="row item-detail text-dark container-fluid">
					<div class="col-md-3">
						<h3>Product Name</h3>
						<h4> {{products.product_name}}</h4>
						<h3>Product Image</h3>
						<img class="d-block w-100" src="{{ products.product_image_ }}" alt="Item Picture">
						<h3>Product Description</h3>
						<p> {{ products.product_description }}</p>
						<h3>Product Category</h3>
						<p>{{ products.product_category }}</p>
						<h3>Product Price</h3>
						<p>${{ products.product_bidstart }}</p>
						<a href="{{ url_for('product.create') }}" class="btn btn-secondary btn-lg active" role="button">Create New Listing</a>
						<a href="{{ url_for('product.bid') }}" class="btn btn-secondary btn-lg active" role="button">Bid on Item</a>

					
							</div>
							</div>
							</div>
						<div class="dropdown" style="margin-top: 10px">
							<div aria-haspopup="true" aria-expanded="false" class="col-sm-1">
								{{ wtf.quick_form(form)}}
							</div>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item active" href="#">Wishlist 1</a>
								<a class="dropdown-item" href="#">Wishlist 2</a>
								<a class="dropdown-item" href="#">Wishlist 3</a>
							</div>
							</div>
					</div>
					<div class="col-md-3 my-auto">
					<h3> Current Bidders</h3>
							<ul class="list-group text-dark">
								<li class="list-group-item"> Bidder 1 - $150.55</li>
								<li class="list-group-item"> Bidder 2 - $150.00</li>
							</ul>
						<h3>Bidding Information</h3>
							<ul class="list-group text-dark">
								<li class="list-group-item"> {{ products_bidstart }}</li>
								<li class="list-group-item"> Latest Bid: $150.55</li>
							</ul>
					<div class="card text-dark" style="margin-top:15px">
						<div class="card-header">
							Comments
						</div>
						<div class="card-body">
							<blockquote class="blockquote mb-0">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
							<footer class="blockquote-footer">@1:03pm today by user <cite title="Source Title">Nick Allan</cite></footer>
							</blockquote>
							<blockquote class="blockquote mb-0">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
							<footer class="blockquote-footer">@11:49am today by user <cite title="Source Title">John Doe</cite></footer>
							</blockquote>
						</div>
						<div class="card-header">
							Write a Comment
						</div>
						<div class="card-body" style="margin-bottom: 15px">
							<form>
							<div class="form-group">
								<textarea class="form-control" id="comment" rows="3">Click in me and start typing</textarea>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div style="height:100vh">
			</div>
		</main>
		
{% endblock %}